input{
    width : 100%;
    height : 40px;
    padding:0; 
    margin:0;
    text-indent : 10px;
    font-size : 14px;
    border: 1px solid grey;
    border-radius: 6px;
}

label { 
    padding-bottom : 5px;
    color : rgb(104, 103, 103);
    font-size : 16px;
    
}
select{
    width : 120px;
    height : 40px;
    padding:0; 
    margin:0;
    border: 1px solid grey;
    border-radius: 6px;
}
option{
    width : 100%;
}
.title{
    display : inline-block;
    position : relative;
    margin : 0 auto;
    margin-bottom : 30px;
    color : rgb(34, 34, 34);
}
.sub_title{
    display : inline-block;
    position : absolute;
    top : 4px;
    text-align : center;
    color : grey;
    width : 67%;
}

.box1Show{
    left : 0%;
}
.box1Hide{
    left : -100%;
}
.box2Show{
    left : 0%;
}
.box2Hide{
    left : 100%;
}

.RegiContainer::-webkit-scrollbar{
    background-color : black;
}