/* 글 작성 페이지 */

/* top-container, bottom-container 포함하고 있는 컨테이너 */
.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
} 

/* 글 쓰기 컨테이너 */
.top-container{
    width : 1000px;
    max-width: 850px;
    min-width: 600px;
    min-height: 475px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 8px 8px 0 0 rgba(143, 143, 143, 0.747);
    margin: 0 auto;
    align-items: center;
    margin-bottom: 50px;
}

/* 이미지 컨테이너 */
.bottom-container{
    width : 1000px;
    max-width: 850px;
    min-width: 600px;
    min-height: 475px;
    height: 700px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 8px 8px 0 0 rgba(143, 143, 143, 0.747);
    margin: 0 auto;
    align-items: center;
}

/* 글 작성 영역 */
textarea {
    width: 80%;
    height: 300px;
    margin-bottom: 50px;
}

/* 작성 Button 태그 */
.post-button{
    margin: auto;
    display:block;
    width : 100px; 
    height : 38px;
    border-radius: 8px;
    background-color: rgb(255, 194, 160);
    border : none;
    color:white;
    cursor: pointer;
}
.post-button:hover{
    color : black;
    border: 3px solid pink;
    background-color: white;
}