.writeHover{
    background-color: #444444;
    color : white;
    font-size : 30px;
    border-radius : 12px;
}
.writeHoverOut{
    font-size : 30px;
    background-color : white;
    color : black;
}