body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* 폰트 */

/* Maru Buri */
@font-face {
  font-family: "Maru Buri";
  font-style : "normal";
  font-weight : "normal";
  src : url("/src/Fonts/Nanum/MaruBuriOTF/MaruBuri-Light.otf") format('truetype'),
  url("/src/Fonts/Nanum/MaruBuriOTF/MaruBuri-Light.otf") format('truetype'),
  url("/src/Fonts/Nanum/MaruBuriOTF/MaruBuri-Light.otf") format('truetype')
}
@font-face {
  font-family: "Maru Buri";
  font-style : "semi-bold";
  font-weight : "normal";
  src : url("/src/Fonts/Nanum/MaruBuriOTF/MaruBuri-SemiBold.otf") format('truetype'),
  url("/src/Fonts/Nanum/MaruBuriOTF/MaruBuri-SemiBold.otf") format('truetype'),
  url("/src/Fonts/Nanum/MaruBuriOTF/MaruBuri-SemiBold.otf") format('truetype')
}

/* Nanum Square && Nanum Square Round */
@font-face {
  font-family: "Nanum Square";
  font-style : "bold";
  font-weight : "normal";
  src : url("/src/Fonts/Nanum/NanumSquareOTF/NanumSquareNeoOTF-Bd.otf") format('truetype'),
  url("/src/Fonts/Nanum/NanumSquareOTF/NanumSquareNeoOTF-Bd.otf") format('truetype'),
  url("/src/Fonts/Nanum/NanumSquareOTF/NanumSquareNeoOTF-Bd.otf") format('truetype')
}

@font-face {
  font-family: "Nanum Square Round";
  font-style : "normal";
  font-weight : "normal";
  src : url("/src/Fonts/Nanum/NanumSquareRoundOTF/NanumSquareRoundOTF_R.otf") format('truetype'),
  url("/src/Fonts/Nanum/NanumSquareRoundOTF/NanumSquareRoundOTF_R.otf") format('truetype'),
  url("/src/Fonts/Nanum/NanumSquareRoundOTF/NanumSquareRoundOTF_R.otf") format('truetype')
}

