/* 로그인 페이지에서 가운데 폼 css */
.LoginForm{
    display: flex;
    width : 50%;
    max-width: 850px;
    min-width: 600px;
    height:  50%;
    min-height: 475px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 8px 8px 0 0 rgba(143, 143, 143, 0.747);
    margin: 0 auto;
    align-items: center;
}

/* LoginForm의 왼쪽부분 */
.LeftContainer{
    display : flex;
    align-items: center;
    width : 49.9%;
    height : 90%;
    border-right: 1px solid rgba(128, 128, 128, 0.671);
}
.LeftContainer .TitleContainer{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 100%;
    margin : 0 auto;

}
.LeftContainer .TitleContainer > h1{
    padding : 0;
    margin : 0;
}
.LeftContainer .TitleContainer > h5{
    color : grey;
    padding : 0;
    margin : 0;
}
/* ----------------------------------------------- */
/* LoginForm의 오른쪽 부분 */

/* 오른쪽 콘텐츠 Container */
.RightContainer{ 
    display : flex;
    flex-direction: column;
    width: 49.9%;
    height: 90%;
    align-items: center;
    justify-content: center;
}
/* 오른쪽 컨테이너s */
/* 오른쪽 Input과 Button */
.FormContentManage{
    display : flex;
    padding-top: 20px;
    width : 70%;
    margin : 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
/* 오른쪽 콘텐츠에 (아이디 비밀번호찾기 , 계정저장, 회원가입 ) */
.sub_Container{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding : 0px 5px 0px 5px;
}
/* --------------------------------- */
/* 오른쪽 Container들의 Contents */

/* FormContentManage의 input태그 */
.loginFormInput{
    /* border : 1px solid pink;
    transition : 1s; */
    height : 32px;
    width : 90%;
    margin-bottom : 15px;
    border-radius: 12px;
    border : none;
    padding : 4px 10px 0px 10px;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.473);

}
.loginFormInput:focus{
    outline: 1px solid pink;
}
/* FormContentManage의 Button태그 */
.loginFormButton{
    width : 97%; 
    height : 38px;
    border-radius: 8px;
    background-color: rgb(255, 194, 160);
    border : none;
    color:white;
    cursor: pointer;
}

.loginFormButton:hover{
    color : black;
    border: 3px solid pink;
    background-color: white;
}

/* 오른쪽 sub-container내에 체크박스 사이즈 설정 */
.sub_Container img{
    width : 15px;
    height : 15px;
}
